<nav class="flex text-black-100 bg-black-900 justify-end py-3 px-4 fixed w-full z-50 ">

        <div class="w-6/12 flex flex-nowrap justify-end">
              <div class="mr-2">
                  <form method="get" action="#">
                      <input class="py-1 px-2 rounded-md text-black" name="query" value="" type="text" placeholder="Pesquisar...">
                      <input type="submit" value="">
                  </form>
              </div>

              <div class="mr-2">
                  <a href="#" class="">
                    <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                        Entrar
                    </button>
                  </a>

              </div>

                <div class="mr-2">
                <a href="#" class="">
                    <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                        Editar Perfil
                    </button>
                </a>
              </div>
    </div>

    </nav>